* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: #dae8ff;
}

*::-webkit-scrollbar-track {
  background-color: #dae8ff;
}

*::-webkit-scrollbar-thumb {
  background-color: #000c20;
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

hr {
  max-width: 100%;
  margin: 10% 10% 7% 0;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.container .left-temp {
  background: #000c20;
  height: 180vh;
  width: 27.5%;
  top: 0;
  left: 0;
  position: relative;
}
.container .left-temp .left-temp-up {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 5px;
}
.container .left-temp .left-temp-up img {
  height: 20%;
  width: 20%;
  cursor: pointer;
  filter: grayscale(80%);
  transition: all 300ms ease-out;
}
.container .left-temp .left-temp-up img:hover {
  filter: grayscale(0%);
}
.container .left-temp .left-temp-up h2 {
  color: #f7f7f7;
  font-weight: 600;
  text-indent: 10px;
  text-shadow: 0 0 5px 0 #c1c1c1, 0 0 10px 0 #151515;
  cursor: pointer;
}
.container .left-temp .left-temp-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 0;
}
.container .left-temp .left-temp-mid ul {
  height: auto;
  width: 25rem;
  cursor: pointer;
}
.container .left-temp .left-temp-mid ul .temp-list {
  list-style: none;
  transition: all 500ms ease-out;
  margin: 5px 3rem;
  cursor: pointer;
}
.container .left-temp .left-temp-mid ul .temp-list .active {
  left: 0;
  width: 7px;
  height: 50px;
  background-color: white;
  border-radius: 0 10px 10px 0;
  transition: 50ms linear;
  position: absolute;
  visibility: hidden;
}
.container .left-temp .left-temp-mid ul .temp-list .aactive {
  visibility: visible;
}
.container .left-temp .left-temp-mid ul .temp-list a {
  color: rgba(191, 191, 191, 0.6235294118);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.container .left-temp .left-temp-mid ul .temp-list:hover a {
  color: #f7f7f7;
}
.container .left-temp .left-temp-mid ul .temp-list:hover .active {
  visibility: visible;
}
.container .left-temp .left-temp-down {
  color: #f7f7f7;
  display: grid;
  width: 45%;
  margin: 15% 5%;
}
.container .left-temp .left-temp-down .down-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .left-temp .left-temp-down .down-down {
  margin-top: 1rem;
}
.container .left-temp .left-temp-down .down-down .percent-bar {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #ff7800, #6534ac, #6534ac);
  border-radius: 5px;
  margin: 0 0 2% 0;
}
.container .mid-temp {
  background-color: #f7f7f7;
  height: 180vh;
  width: 67%;
  z-index: 99;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20rem;
  top: 0;
}
.container .mid-temp .mid-temp-content {
  width: 95%;
  height: 90%;
  top: 0;
  margin-left: 50px;
  margin: 5%;
}
.container .mid-temp .mid-temp-content .search {
  width: 85%;
  height: 70px;
  top: auto;
  display: flex;
  align-items: flex-start;
  position: relative;
  justify-content: flex-start;
}
.container .mid-temp .mid-temp-content .search input {
  background: #EFF3FB;
  outline: none;
  border-radius: 5px;
  height: 3rem;
  width: 450px;
  border: none;
  text-indent: 10px;
  padding: 0 20px 0 60px;
  font-weight: 500;
}
.container .mid-temp .mid-temp-content .search button {
  height: 3rem;
  width: 50px;
  line-height: 50px;
  background: #D2DEF7;
  position: absolute;
  text-align: center;
  border-radius: 10px;
  border: none;
}
.container .mid-temp .mid-temp-content .search button a {
  text-decoration-color: #EFF3FB;
  align-items: center;
}
.container .mid-temp .mid-temp-content .search .link-active {
  color: #f7f7f7;
}
.container .mid-temp .mid-temp-content .dashboard {
  width: 90%;
  height: 250px;
  position: relative;
  display: block;
}
.container .mid-temp .mid-temp-content .dashboard .dashboard-top {
  width: 100%;
  height: 80px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .mid-temp .mid-temp-content .dashboard .dashboard-top h2 {
  font-size: 1.5rem;
}
.container .mid-temp .mid-temp-content .dashboard .dashboard-top .form {
  width: 400px;
}
.container .mid-temp .mid-temp-content .dashboard .dashboard-top .file-upload-wrapper {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
  top: -5px;
}
.container .mid-temp .mid-temp-content .dashboard .dashboard-top .file-upload-wrapper:after {
  content: attr(data-text);
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  padding: 15px 15px;
  display: block;
  width: calc(100% - 40px);
  pointer-events: none;
  z-index: 1;
  height: 20px;
  color: #999;
  border-radius: 5px 10px 10px 5px;
  font-weight: 300;
}
.container .mid-temp .mid-temp-content .dashboard .dashboard-top .file-upload-wrapper:before {
  content: "Upload";
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 50px;
  background: #562deb;
  color: #fff;
  font-weight: 700;
  z-index: 25;
  font-size: 16px;
  line-height: 50px;
  padding: 0 15px;
  text-transform: uppercase;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
}
.container .mid-temp .mid-temp-content .dashboard .dashboard-top .file-upload-wrapper:hover:before {
  background: #3d14d1;
}
.container .mid-temp .mid-temp-content .dashboard .dashboard-top .file-upload-wrapper input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 30px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 100%;
}
.container .mid-temp .mid-temp-content .dashboard .dashboard-bottom {
  background: #EFF3FB;
  width: 100%;
  height: 180px;
  border-radius: 25px;
  display: flex;
  position: relative;
}
.container .mid-temp .mid-temp-content .dashboard .dashboard-bottom .bottom-left {
  width: 60%;
  height: inherit;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  justify-content: space-between;
}
.container .mid-temp .mid-temp-content .dashboard .dashboard-bottom .bottom-left h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.container .mid-temp .mid-temp-content .dashboard .dashboard-bottom .bottom-left p {
  font-size: 1.2rem;
  font-weight: 500;
}
.container .mid-temp .mid-temp-content .dashboard .dashboard-bottom .bottom-left button {
  width: 100px;
  height: 40px;
  background: #562deb;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  color: #f7f7f7;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  opacity: 0.8;
}
.container .mid-temp .mid-temp-content .dashboard .dashboard-bottom .bottom-left:hover button {
  font-size: 1.3rem;
  opacity: 1;
  transition: all 100ms ease-out;
}
.container .mid-temp .mid-temp-content .dashboard .dashboard-bottom .bottom-right {
  width: 40%;
  position: absolute;
  z-index: 999;
  left: 60%;
  top: -60px;
}
.container .mid-temp .mid-temp-content .dashboard .dashboard-bottom .bottom-right img {
  width: 75%;
  height: 100%;
}
.container .mid-temp .mid-temp-content .folders {
  width: 90%;
  height: 250px;
  position: relative;
  display: block;
}
.container .mid-temp .mid-temp-content .folders .folders-top {
  width: 100%;
  height: 80px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .mid-temp .mid-temp-content .folders .folders-top h2 {
  font-size: 1.5rem;
}
.container .mid-temp .mid-temp-content .folders .folders-top button {
  width: 100px;
  height: 30px;
  background: #dae8ff;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  color: #999;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  opacity: 1;
}
.container .mid-temp .mid-temp-content .folders .folders-bottom {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.container .mid-temp .mid-temp-content .folders .folders-bottom .card {
  height: 90%;
  width: 30%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 0 #fff388;
  opacity: 0.8;
}
.container .mid-temp .mid-temp-content .folders .folders-bottom .card .cardTop {
  width: 100%;
  height: 45px;
  padding: 5px 5px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.container .mid-temp .mid-temp-content .folders .folders-bottom .card .cardTop .frame {
  position: absolute;
  height: 45px;
  width: 45px;
  background: #EFF3FB;
  opacity: 0.6;
  border-radius: 15px;
  margin: 10px 0 0 20px;
}
.container .mid-temp .mid-temp-content .folders .folders-bottom .card .cardTop .frame i {
  font-size: 1.5rem;
  margin: 10px 0 0 10px;
}
.container .mid-temp .mid-temp-content .folders .folders-bottom .card .cardName {
  width: 100%;
  height: 45px;
  padding: 30px 25px;
  display: flex;
  justify-content: space-between;
  position: static;
}
.container .mid-temp .mid-temp-content .folders .folders-bottom .card .cardName h3 {
  font-size: 0.8rem;
  color: #f7f7f7;
}
.container .mid-temp .mid-temp-content .folders .folders-bottom .card .cardImages {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  margin: 0 0 0 25px;
}
.container .mid-temp .mid-temp-content .folders .folders-bottom .card .cardImages img {
  width: 25px;
  height: 25px;
  margin: 0 0 0 5px;
  position: relative;
}
.container .mid-temp .mid-temp-content .folders .folders-bottom .card .cardImages span {
  background: #dae8ff;
  border-radius: 45px;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}
.container .mid-temp .mid-temp-content .folders .folders-bottom .card .cardEnd {
  width: 100%;
  height: 55px;
  margin: 25px 25px;
  display: flex;
  flex-direction: column;
}
.container .mid-temp .mid-temp-content .folders .folders-bottom .card .cardEnd p {
  color: #EFF3FB;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 5px;
}
.container .mid-temp .mid-temp-content .folders .folders-bottom .red {
  background: #ff0000;
}
.container .mid-temp .mid-temp-content .folders .folders-bottom .red:hover {
  box-shadow: 0 0 15px 0 #ff0000;
  transition: all 300ms ease-in;
}
.container .mid-temp .mid-temp-content .folders .folders-bottom .blue {
  background: #013795;
}
.container .mid-temp .mid-temp-content .folders .folders-bottom .blue:hover {
  box-shadow: 0 0 15px 0 #013795;
  transition: all 300ms ease-in;
}
.container .mid-temp .mid-temp-content .folders .folders-bottom .orange {
  background: #ff8800;
}
.container .mid-temp .mid-temp-content .folders .folders-bottom .orange:hover {
  box-shadow: 0 0 15px 0 #ff8800;
  transition: all 300ms ease-in;
}
.container .mid-temp .mid-temp-content .recendFiles {
  width: 90%;
  height: 250px;
  position: relative;
  display: block;
}
.container .mid-temp .mid-temp-content .recendFiles .files-top {
  width: 100%;
  height: 80px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .mid-temp .mid-temp-content .recendFiles .files-top h2 {
  font-size: 1.5rem;
}
.container .mid-temp .mid-temp-content .recendFiles .files-top button {
  width: 100px;
  height: 30px;
  background: #dae8ff;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  color: #999;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  opacity: 1;
}
.container .mid-temp .mid-temp-content .recendFiles .rowCard-active {
  box-shadow: 0px 0px 14px 0px rgb(102, 114, 251);
  transition: all 300ms ease-in;
}
.container .mid-temp .mid-temp-content .recendFiles .rowCard {
  width: 100%;
  height: 65px;
  background: rgba(195, 195, 195, 0.6078431373);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  margin: 15px 0;
  border-radius: 15px;
  left: 0;
  cursor: pointer;
}
.container .mid-temp .mid-temp-content .recendFiles .rowCard .fileType-active {
  opacity: 1;
  transition: all 300ms ease-in;
}
.container .mid-temp .mid-temp-content .recendFiles .rowCard .fileType {
  width: 5%;
  height: 65%;
  display: flex;
  margin: 0 2% 0;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  opacity: 0.8;
}
.container .mid-temp .mid-temp-content .recendFiles .rowCard .red {
  background: #ff0000;
}
.container .mid-temp .mid-temp-content .recendFiles .rowCard .orange {
  background: #ff8800;
}
.container .mid-temp .mid-temp-content .recendFiles .rowCard .blue {
  background: #013795;
}
.container .mid-temp .mid-temp-content .recendFiles .rowCard .fileComment {
  font-size: 0.9rem;
  font-weight: 700;
}
.container .mid-temp .mid-temp-content .recendFiles .rowCard .forFile {
  font-size: 0.9rem;
  font-weight: 700;
}
.container .mid-temp .mid-temp-content .recendFiles .rowCard .fileDate {
  font-size: 0.9rem;
  font-weight: 700;
}
.container .mid-temp .mid-temp-content .recendFiles .rowCard .fileSize {
  font-size: 0.9rem;
  font-weight: 700;
}
.container .right-temp {
  background: #dae8ff;
  right: 0;
  width: 30%;
  height: 180vh;
}
.container .right-temp .profil-info {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: column;
}
.container .right-temp .profil-info .info-member {
  width: 100%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: column;
  margin: 10% 0 0 50%;
  gap: 0.7rem;
}
.container .right-temp .profil-info .info-member img {
  width: 45px;
  height: 45px;
}
.container .right-temp .profil-info .info-member h2 {
  height: 40px;
  font-size: 0.8rem;
  font-weight: 700;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -0.5rem;
  padding: 0 0.5rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.container .right-temp .profil-info .info-member h2:hover {
  color: #fff;
  box-shadow: inset 150px 0 0 #7bb5d0;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.container .right-temp .profil-info .info-member h2 i {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 0.8rem;
  cursor: pointer;
}
.container .right-temp .profil-info .info-member h2 i .setting {
  height: auto;
  width: auto;
  background: #EFF3FB;
  font-size: 0.8rem;
  position: fixed;
  opacity: 0.8;
  border-radius: 15px;
  transition: all 700ms ease-out;
  z-index: 1;
  display: none;
  margin: 8.3rem 0 0 1rem;
}
.container .right-temp .profil-info .info-member h2 i .setting a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 25px;
  width: 100px;
  color: #013795;
  font-size: 0.8rem;
  text-decoration: none;
  margin: 10px 0;
  font-weight: 500;
  padding: 10px;
}
.container .right-temp .profil-info .info-member h2 i .setting a:before {
  content: "-";
  display: block;
  width: 0;
  height: 2px;
  background: #000c20;
  transition: width 0.3s;
}
.container .right-temp .profil-info .info-member h2 i .setting a:hover {
  outline: none;
  box-shadow: inset 10px 0 0 #b5b5b5;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.container .right-temp .profil-info .info-member h2 i .setting a:hover:before {
  width: 5px;
  transition: width 0.3s;
}
.container .right-temp .profil-info .divWord {
  max-height: 90px;
  height: 45px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f7f7f7;
  border-radius: 15px;
  padding: 10px;
  position: relative;
  margin-top: 40%;
  transition: all 300ms ease-in;
  cursor: pointer;
}
.container .right-temp .profil-info .divWord .wordC {
  font-size: 0.8rem;
  font-weight: 700;
  height: 45px;
  width: 100%;
  color: #2d364c;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in;
  cursor: pointer;
}
.container .right-temp .colorPal {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: end;
  justify-content: right;
  flex-direction: column;
}
.container .right-temp .colorPal #paletteLeft, .container .right-temp .colorPal #paletteMid, .container .right-temp .colorPal #paletteRight {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.container .right-temp .colorPal #paletteLeft::-webkit-color-swatch {
  border-radius: 50%;
  border: 1px solid #9000ff;
  box-shadow: 0 0 10px 0 #000c20;
}
.container .right-temp .colorPal #paletteLeft::-moz-color-swatch {
  border-radius: 50%;
  border: 1px solid #9000ff;
  box-shadow: 0 0 10px 0 #000c20;
}
.container .right-temp .colorPal #paletteMid::-webkit-color-swatch {
  border-radius: 50%;
  border: 1px solid #9000ff;
  box-shadow: 0 0 10px 0 #000c20;
}
.container .right-temp .colorPal #paletteMid::-moz-color-swatch {
  border-radius: 50%;
  border: 1px solid #9000ff;
  box-shadow: 0 0 10px 0 #000c20;
}
.container .right-temp .colorPal #paletteRight::-webkit-color-swatch {
  border-radius: 50%;
  border: 1px solid #9000ff;
  box-shadow: 0 0 10px 0 #000c20;
}
.container .right-temp .colorPal #paletteRight::-moz-color-swatch {
  border-radius: 50%;
  border: 1px solid #9000ff;
  box-shadow: 0 0 10px 0 #000c20;
}
.container .right-temp .colorPal i {
  width: 45px;
  height: 45px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #f7f7f7;
  cursor: pointer;
  position: fixed;
  transition: all 300ms ease-in;
}
.container .right-temp .colorPal i:hover {
  transform: rotateZ(360deg);
  transition: all 500ms ease-in;
}
.container .right-temp button {
  width: 100px;
  height: 30px;
  background: rgba(153, 153, 153, 0.0941176471);
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  color: rgb(96, 96, 96);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  opacity: 1;
  transition: all 300ms ease-in;
  margin: 8rem 0 0 0;
}/*# sourceMappingURL=main.css.map */